@charset "UTF-8";

html {
  height: 100%;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

body {
  height: 100%;
}


.wrap {
  width: 1080px;
  margin: 0 auto;
}

.btn {
  display: block;
  width: 300px;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  background-color: #cd0224;
  color: #fff;
}

.ttl {
  font-size: 30px;
  font-weight: bold;
}

#firstview {
  background-color: #fff;
  line-height: 70px;
}

.header-logo {
  margin-left: 30px;
  font-size: 25px;
}

.header-nav li {
  display: inline-block;
  margin-right: 25px;
  font-size: 16px;
  font-weight: bold;
}

.catchcopy {
  background: url(../img/mv.png) no-repeat;
  background-position: center;
  background-size: cover;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.catchcopy h2 {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}

.contact-wrap {
  width: 960px;
  padding: 80px 0;
  margin: 0 auto;
}

.contact-input {
  width: 100%;
  padding: 7px;
  border: 1px solid #ccc;
  margin: 16px 0;
}

.contact-item {
  font-size: 16px;
  font-weight: bold;
}

.contact-textarea {
  font-size: 16px;
	width: 100%;
	padding: 7px;
	border: 1px solid #ccc;
  margin: 5px 0;
}

.btn {
  display: block;
  margin: 0 auto;
  width: 300px;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  background-color: #000000;
  color: #fff;
  margin-top: 20px;
}

.btn:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.item {
  color: #cd0224;
  margin-left: 5px;
}

.footer {
  background-color: #222222;
  color: #fff;
  font-size: 12px;
}

.footer-wrap {
  width: 1080px;
  margin: 0 auto;
  padding: 25px 0;
}

.footer-nav li {
  display: inline-block;
}

.footer-nav li::after {
  content: "|";
  padding: 0 6px;
}

.footer-nav li:last-child::after {
  display: none;
}

@media screen and (max-width: 768px) {
  #hamburger {
  width: 40px;
  height: 40px;
  position: absolute;
  cursor: pointer;
  z-index: 100;
  top: 15px;
  right: 20px;
  transition: 0.4s;
}

#hamburger span {
  position: absolute;
  left: 3px;
  display: block;
  width: 35px;
  height: 4px;
  background-color: #000000;
  transition: 0.8s;
  
}

#hamburger span:nth-of-type(1) {
  top: 5px;
}

#hamburger span:nth-of-type(2) {
  top: 20px; 
}

#hamburger span:nth-of-type(3) {
  top: 35px; 
}

.header-nav {
  display: none; 
}

.flex {
  width: 100%;
}

.contact {
  width: 100%;
}

.contact-wrap {
  width: 90%;
}

.contact-item {
  margin-right: 15px;
}

.btn-submit {
  margin: 0;
}

.footer-wrap {
  width: 100%;
}

.footer-flex {
  flex-wrap: wrap;
}

.footer-list {
  width: 20%;
  margin: 0 auto;
  text-align: center;
}

.footer-copy {
  margin: 0 auto;
}

.footer-nav li::after {
  content: none;
}

.footer-item {
  margin: 10px 0;
}

.footer-nav li:last-child {
  padding-top: 10px;
}

}
